/* Global Styles */
body {
    background-color: #121212;
    color: #f5f5f5;
    font-family: 'Arial', sans-serif;
  }
  
  h2 {
    color: #078962;
  }
  
  #foto {
    border: 5px solid #078962;
    width: 200px;
    box-shadow: 0 0 20px rgba(32, 73, 60, 0.5);
  }
  
  .tech-box {
    background-color: #1c1c1c;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #078962;
    transition: transform 0.3s ease-in-out;
  }
  
  .tech-box:hover {
    transform: translateY(-10px);
  }
  
  .tech-box img {
    max-width: 60px;
    display: block;
    margin: 0 auto;
  }
  
  .tech-box p {
    color: #078962;
    margin-top: 10px;
    font-size: 1.2rem;
  }
  
  @media (max-width: 768px) {
    #foto {
      width: 150px;
    }
  
    h2 {
      font-size: 1.5rem;
    }
  
    .tech-box {
      padding: 15px;
    }
  
    .tech-box img {
      max-width: 50px;
    }
  
    .tech-box p {
      font-size: 1rem;
    }
  }
  
  /* Portfolio Styles */
.card {
  transition: transform 0.3s ease-in-out;
  border: 2px solid #044a35;
}

.card:hover {
  transform: translateY(-10px);
}

.card-img-top {
  height: 200px;
  object-fit: cover;
}

.card-footer i {
  font-size: 1.5rem;
}

.text-warning {
  color: #078962 !important;
}

hr {
  border-top: 3px solid #078962;
}

.bs{
  color: #078962;
}
